body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}
#search{
    background-color: #583753;
}

.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #583753;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    text-align:center;
}
.media-body:hover
{
background-color: #583753;
color: white;
}

.media-bodyannouncement:hover
{
    background-color: #f6f8fa;
    color:#000;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-top: 1px solid #eee;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 26px;
    margin-left: 40px;
}

@media screen and (max-height: 250px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #583753;
    height: 100%; /* Full height */
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
