<% include ../partials/header %>

    <!-- This is div for list of users -->

    <div id="search">
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <form class="form-inline">
                <input type="text" name="searchTerm" id="searchTerm" value="" class="form-control mr-sm-2" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchbtn" onclick="Onsearch()">Search</button>
            </form>
            <input type="radio" name="check" value="status" id="status" /> Search by status
            <input type="radio" name="check" value="username" id="username">search by username
            <input type="radio" name="check" value="public" id="public_messages" /> Public Messages
            <input type="radio" name="check" value="private" id="private_messages" /> Private Messages
            <input type="radio" name="check" value="announcements" id="announcements" />Public Announcements
        </nav>
    </div>

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    <h6 class="border-bottom border-gray pb-2 mb-0">Citizens List:</h6>


    <div id="userlist1"></div>

    </main>
    <% include ../partials/footer %>

        <script>
            //userDirectoryList_Handler1();
        </script>