<!doctype html>
<% include ../partials/header %>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Disaster Alert System </title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/offcanvas.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/tabs.css" rel="stylesheet">
    <!--leaflet css -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin="">
        </script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <link href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                  
                        <li class="nav-item">
                            <a class="nav-link" href="/RainfallAlert">Enter Meteo Alert</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/warning">Disseminate Information</a>
                        </li>
           
                    </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Disaster Alert And Coordination System.2018</h6>

            </div>
        </div>

        <h4>
            <b id="alert_type" style="padding-left:2px"> </b>
            <b id="sectors" style="padding-left:2px"></b>
            <b id="severity" style="padding-left:2px"></b>
            <b id="recorded_date" style="padding-left:2px"></b>
        </h4>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div id="exTab2" class="container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#1" data-toggle="tab">
                            <h6>
                                <b>Summary</b>
                            </h6>
                        </a>
                    </li>
                    <div id="space" style="width:6px"></div>
                    <li>
                        <a href="#2" data-toggle="tab">
                            <h6>
                                <b>Impact</b>
                            </h6>
                        </a>
                    </li>
                    <div id="space" style="width:6px"></div>
                    <li>
                        <a href="#3" data-toggle="tab">
                            <h6>
                                <b>Expert Review</b>
                            </h6>
                        </a>
                    </li>
                    <div id="space" style="width:6px"></div>

                    <li>
                        <a href="#4" data-toggle="tab">
                            <h6>
                                <b>Disaster History</b>
                            </h6>
                        </a>
                    </li>


                    <div id="space" style="width:6px"></div>
                    <li>
                        <a href="#5" data-toggle="tab">
                            <h6>
                                <b>System Recommendations</b>
                            </h6>
                        </a>
                    </li>

                </ul>

                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        <h3>Event Summary</h3>
                        <p>
                            <b id="description" style="padding-left:50px"></b>.</p>
                        <div class="list-group">
                            <ul class="list-group">
            
                                <li class="list-group-item">Event Type: 
                                    <b id="alert_type" style="padding-left:50px">rainfall </b>
                                </li>
                                <li class="list-group-item">RainFall Amount: 
                                    <b id="rainfall_amount" style="padding-left:50px"> 30mm</b>
                                </li>
                                <li class="list-group-item">RainFall Intensity:
                                    <b id="rainfall_intensity" style="padding-left:50px"> 10</b>
                                </li>
                                <li class="list-group-item">Recorded Date:
                                    <b id="recorded_date" style="padding-left:50px"> 2018-07-23T14:13:46.49</b>
                                </li>
                                <li class="list-group-item">Expectated Start Date:
                                    <b id="expectated_startdate" style="padding-left:50px"> 2018-07-23T14:13:46.493</b>
                                </li>
                                <li class="list-group-item">Expectated End Date:
                                    <b id="expectated_enddate" style="padding-left:50px">2018-07-23T14:13:46.493Z</b>
                                </li>
                                <li class="list-group-item">Description:
                                    <b id="description" style="padding-left:50px">Heavy rainfall expectated. </b>
                                </li>
                                <li class="list-group-item">Severity:
                                    <b id="severity" style="padding-left:50px">High</b>
                                </li>
                                <li class="list-group-item">Sectors/s:
                                    <b id="sectors" style="padding-left:50px">Nyabungogo</b>
                                </li>
                                <li class="list-group-item">Longitude/Latitude:
                                    <b id="longitude" style="padding-left:50px">30.0535/-1.9367</b>,
                                    <b id="latitude"></b>
                                </li>
                                <li class="list-group-item">District:
                                    <b id="district" style="padding-left:50px">Nyarugenge</b>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane" id="2">

                        <h5>Critical infrustructure </h5>
                        <table id="infrustructureList" style="overflow-x:auto;">
                            <thead>
                                <tr style="background-color: #a3cedc; color:white">
                                    <td>name</td>
                                    <td>usage</td>
                                    <td>runway</td>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <script type="text/javascript">
                            var disasterData = [];

                            $.ajax({
                                type: 'GET',
                                contentType: 'application/json',
                                url: '/infrustructure',
                                success: function (response) {
                                    disasterData.push(response);
                        
                                    var rows = "";
                                    $.each(response, function () {
                                        rows += "<tr><td>" + this.infrustructure_name + "</td><td>" + this.infrustructure_usage + "</td><td>" + this.runway_type + "</td>";

                                    })
                                    $(rows).appendTo("#infrustructureList tbody");
                                }
                            });
                        </script>
                        <hr>

                        <h5>Affected Population Areas</h5>
                        <table id="populationList" style="overflow-x:auto;">
                            <thead>
                                <tr style="background-color: #a3cedc; color:white">
                                    <td>place</td>
                                    <td>population</td>
                                    <td>distance</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <script type="text/javascript">
                            var disasterData = [];

                            $.ajax({
                                type: 'GET',
                                contentType: 'application/json',
                                url: '/population',
                                success: function (response) {
                                    disasterData.push(response);
                                    //  console.log(disaster.length)
                                    var rows = "";
                                    $.each(response, function () {
                                        rows += "<tr><td>" + this.place_name + "</td><td>" + this.number_of_people + "</td><td>" + this.distance + "</td></tr>";
                                    })
                                    $(rows).appendTo("#populationList tbody");
                                }

                            });
                        </script>
                        <hr>

                        <h5>Estimated Casualities </h5>

                        <hr>
                        <h5>Exposed Population </h5>


                    </div>

                    <div class="tab-pane" id="3">
                        <b>Key Messages </b>
                        <br>

                        <p>However, during the April-May lean season, some poor households in localized areas in Eastern Province
                            that had below-average Season A production, may be in Stressed (IPC Phase 2). According to the
                            National Institute of Statistics, staple food prices have remained relatively stable since December
                            2017. In February, they were 7.4 and 10 percent lower than a year ago at the national and rural
                            levels, respectively, improving poor household purchasing power. Ahead of the lean season, as
                            poor households typically depend more on markets to meet their food needs, there are sufficient
                            income-earning opportunities from farm labor and public work projects.
                        </p>
                    </div>

                    <div class="tab-pane" id="4">
                            <table id="itemList" style="overflow-x:auto;">
                                    <thead>
                                        <tr style="background-color: #a3cedc; color:white">
                                            <td>event</td>
                                            <td>sector</td>
                                            <td>date</td>
                                            <td>deaths</td>
                                            <td>injured</td>
                                            <td>missing</td>
                                            <td>houses_destroyed</td>
                                            <td>houses_damaged</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                
                                <script type="text/javascript">
                                    var disasterData = [];
                
                                    $.ajax({
                                        type: 'GET',
                                        contentType: 'application/json',
                                        url: '/disasters',
                                        success: function (response) {
                                            disasterData.push(response);
                                            //  console.log(disaster.length)
                                            var rows = "";
                                            $.each(response, function () {
                                                rows += "<tr><td>" + this.disaster_type + "</td><td>" + this.sector + "</td><td>" + this.recorded_date + "</td><td>" + this.deaths + "</td><td>" + this.injured + "</td><td>" + this.missing + "</td><td>" + this.houses_destroyed + "</td><td>" + this.houses_damaged + "</td></tr>";
                
                                            })
                                            $(rows).appendTo("#itemList tbody");
                                        }
                
                                    });
                                </script>

                    </div>
                    <div class="tab-pane" id="5">
                            <b>System Reccomendation</b>
                            <br>
    
                            <p>However, during the April-May lean season, some poor households in localized areas in Eastern Province
                                that had below-average Season A production, may be in Stressed (IPC Phase 2). According to the
                                National Institute of Statistics, staple food prices have remained relatively stable since December
                                2017. In February, they were 7.4 and 10 percent lower than a year ago at the national and rural
                                levels, respectively, improving poor household purchasing power. Ahead of the lean season, as
                                poor households typically depend more on markets to meet their food needs, there are sufficient
                                income-earning opportunities from farm labor and public work projects.
                            </p>
                            
                    </div>


                </div>
            </div>
        </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../js/jquery-slim.min.js"><\/script>')</script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/holder.min.js"></script>
    <script src="../js/offcanvas.js"></script>
    <script src="../js/jquerymin.js"></script>
    <script src="../js/clientSide.js"></script>
</body>

</html>

<script>
    function loadCoordinates() {
        hrefurl = $(location).attr("href");
        last_part = hrefurl.substr(hrefurl.lastIndexOf('/') + 1)
     
    $.ajax({
        type: 'GET',
        contentType: 'application/json',
        url: 'report/"'+last_part+'"',
    
        success: function (response) {
            console.log(url)
            var resultsdiv = document.getElementById('alert_type');
            resultsdiv.innerHTML += ''+response.alert_type +'';
            var resultsdiv = document.getElementById('rainfall_amount');
            resultsdiv.innerHTML += ''+response.rainfall_amount +'';
            var resultsdiv = document.getElementById('rainfall_intensity');
            resultsdiv.innerHTML += ''+response.rainfall_intensity +'';
            var resultsdiv = document.getElementById('recorded_date');
            resultsdiv.innerHTML += ''+response.recorded_date +'';
            var resultsdiv = document.getElementById('expectated_startdate');
            resultsdiv.innerHTML += ''+response.excepected_startdate +'';
            var resultsdiv = document.getElementById('expectated_enddate');
            resultsdiv.innerHTML += ''+response.excepected_enddate +'';
            var resultsdiv = document.getElementById('description');
            resultsdiv.innerHTML += ''+response.description +'';
            var resultsdiv = document.getElementById('severity');
            resultsdiv.innerHTML += ''+response.severity+'';
            var resultsdiv = document.getElementById('sectors');
            resultsdiv.innerHTML += ''+response.sector+'';
            var resultsdiv = document.getElementById('longitude');
            resultsdiv.innerHTML += ''+response.longitude+'';
            var resultsdiv = document.getElementById('latitude');
            resultsdiv.innerHTML += ''+response.latitude+'';
            var resultsdiv = document.getElementById('district');
            resultsdiv.innerHTML += ''+response.district+'';
        }
    })
}

</script>
<script>loadCoordinates() </script>