<!doctype html>
<% include ../partials/header %>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../favicon.ico">

        <title>Disaster Alert And Coordination System </title>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/offcanvas.css" rel="stylesheet">
        <link href="../css/tabs.css" rel="stylesheet">
        <!--leaflet css -->

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
            crossorigin="" />
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin="">
            </script>

        <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    </head>

    <body class="bg-light">

        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alerts">Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/RainfallAlert">Enter Meteo Alert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="warning">Disseminate Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Receive Disaster Warning</a>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">Disaster Alert And Coordination System.2018</h6>

                </div>
            </div>

            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Map</h6>
                <div class="media text-muted pt-3" id="map" style='width: 1080px; height: 430px;'></div>

            </div>

            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Previous Alerts</h6>
                <table id="itemList" style="overflow-x:auto;">
                    <thead>
                        <tr style="background-color: #a3cedc; color:white">
                            <td>event</td>
                            <td>sector</td>
                            <td>date</td>
                            <td>deaths</td>
                            <td>injured</td>
                            <td>missing</td>
                            <td>houses_destroyed</td>
                            <td>houses_damaged</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <script type="text/javascript">
                    var disasterData = [];

                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json',
                        url: '/disasters',
                        success: function (response) {
                            disasterData.push(response);
                            //  console.log(disaster.length)
                            var rows = "";
                            $.each(response, function () {
                                rows += "<tr><td>" + this.disaster_type + "</td><td>" + this.sector + "</td><td>" + this.recorded_date + "</td><td>" + this.deaths + "</td><td>" + this.injured + "</td><td>" + this.missing + "</td><td>" + this.houses_destroyed + "</td><td>" + this.houses_damaged + "</td></tr>";

                            })
                            $(rows).appendTo("#itemList tbody");
                        }

                    });
                </script>

            </div>
            </div>
        </main>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../js/jquery-slim.min.js"><\/script>')</script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/holder.min.js"></script>
        <script src="../js/offcanvas.js"></script>
        <script src="../js/jquerymin.js"></script>


        <!--script to load  alerts-->
        <script>
            function loadCoordinates() {

                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '/alerts',
                    success: function (response) {
                        console.log(response)

                        var mymap = L.map('map').setView([-1.9706, 30.1044], 8.6);

                        style: 'mapbox://styles/mapbox/streets-v9',
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                id: 'mapbox.streets',
                                style: 'mapbox://styles/mapbox/streets-v9'

                            }).addTo(mymap);

                        for (var i = 0; i < response.length; i++) {
                            L.marker([response[i].latitude, response[i].longitude]).addTo(mymap)
                                .bindPopup("<h6>'" + response[i].severity + " '" + response[i].alert_type + " '" + response[i].name + " '" + response[i].excepected_startdate + "'</h6><p><a href=\"fullreport\/" + response[i].sector + "'\" target=\"_blank\" title=\"Opens in a new window\">Full Report</a>  '" + response[i].description + "' </p>").openPopup();
                            L.circle([response[i].latitude, response[i].longitude], 800, {
                                color: 'red',
                                fillColor: '#f03',
                                fillOpacity: 0.5
                            }).addTo(mymap).bindPopup("I am a circle.");
                            var popup = L.popup();
                        }
                    }
                });
            }

        </script>
        <script>loadCoordinates()</script>
    </body>

    </html>