<!-- the header code resides in partials header.html-->
<% include ../partials/header %>

    <body class="keen-dashboard" style="padding-top: 70px;">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="navbar-brand" href="./" style="color:white">RDACS
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="join" style="color:white">Home</a>
                        </li>
                        <li>
                            <a href="#" style="color:white">Meteo Data Entry</a>
                        </li>
                        <li>
                            <a href="#" style="color:white">MIDIMAR Data Entry</a>
                        </li>
                        <li>
                            <a href="#" style="color:white">Alerts</a>
                        </li>
                        <li>
                            <a href="#" style="color:white">Send SMS</a>
                        </li>
                        <li>
                            <a href="#" style="color:white">Technical Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6">

                    <div class="row">
                        <div class="col-sm-12">
                            <div id="chart-01"></div>
                            <br>
                        </div>
                        <div class="col-sm-12">
                            <div id="chart-03"></div>
                            <br>
                        </div>
                        <div class="col-sm-12">
                            <div id="chart-05"></div>
                            <br>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6" id="mapbox-panel">
                    <div id="map"></div>
                </div>

            </div>

        </div>

    </body>

    </html>
    <% include ../partials/footer %>