<!-- the header code resides in partials header.html-->
<% include ../partials/header %>

  <body class="text-center">

    <form class="form-signin" id="form_signin">

      <h1 class="h3 mb-3 font-weight-normal">Rwanda Disaster Alert&Communication System</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="userName" name="userName" class="form-control" placeholder="Username">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="join_submit" type="button">Login</button>
    </form>

    <!-- Seperate the footer code from main code this code resides in partials footer.ejs -->
    <!--for running faster js code its reccommende it is placed down here-->
    <% include ../partials/footer %>