<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mapy.css">
    <style>
        .gm-style-iw {
            min-width: 100px;
            min-height: 20px;
            text-align: center;
        }
        
        .gm-style canvas {
            display: block !important;
        }
        
        .gm-style-iw+div {
            display: none !important;
        }
        
        .gmnoprint {
            right: 90% !important;
        }
    </style>
</head>

<body>
    <article id="wrapper" class="row">

        <div id="chat">
            <ul class="chat_area">
                <li><a href="#" class="world">World</a></li>
                <li><a href="#" class="room" id="createroom">Room</a></li>
            </ul>
            <div id="login_panel">
                <div class="content">
                    <div class="item-control">
                        <div class="label">Group Friends:
                        </div>
                        <div class="control"><select id="mySel">
  <option value="default">Present</option>
  <option value="accident">Present2</option>
  <option value="shooting">Present3</option>
  
   
     
</select> </div>
                    </div>


                    <button id="button_login">View</button>
                </div>

            </div>
            <div id="world" style="display:none">
                <div class="room_chat">
                    <div id="message">
                        <!--Nội dung chat-->
                    </div>
                    <input type="text" id="chat_message" value="Hello !!!">
                    <button id="send_message">Send</button>
                </div>
            </div>
            <div id="room" style="display:none">
                <div class="room_chat">
                    <div id="room_message"></div>
                    <input type="text" id="chat_room_message" value="Room Message">
                    <button id="send_room_message">Send</button>
                </div>
            </div>
        </div>
        <div id="hide-show">Hide</div>

        <div id="invite_form" style="display:none">
            <div class="message_content">Do you want to room chat ?</div>
            <div class="button">
                <button class="no" id="no">No</button>
                <button class="yes" id="yes">Yes</button>
            </div>
        </div>
        <div id="map"></div>
    </article>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfIFwltBZE-6ZoWJ6cwqq3QDKe4PBjF2Q"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../js/core.js"></script>
    <script type="text/javascript">
    </script>
    <script>
    </script>

</body>

</html>