<% include ../partials/header %>
    <style>
        .azip {
            font-size: 1.3em;
            font-weight: bold;
            color: blue;
        }

        UL li {
            padding-bottom: 9px;
        }
    </style>

    <div id="search">
        <nav class="navbar navbar-dark bg-dark justify-content-between">


            <input type="radio" name="check" value="status" id="status" /> Search by status
            <input type="radio" name="check" value="username" id="username">search by username
            <input type="radio" name="check" value="public" id="public_messages" /> Public Messages
            <input type="radio" name="check" value="private" id="private_messages" /> Private Messages
            <input type="radio" name="check" value="announcements" id="announcements" />Public Announcements
        </nav>
    </div>

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="results"></div>
    </div>

    <div class="alert alert-danger" role="alert">
        <a href="escalated_emergencies"># List of Escalated Emergency Cases</a>
    </div>

    <!-- this div for sharing status -->

    <div class="form-check">
        <label class="form-check-label" for="radio102">Emergency Hit Word Text Analysis:</label>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <UO></UO>
    </div>


    </main>
    <% include ../partials/footer %>

        <script>
            //call the json object to load messages
            loademergencyhitwords()
            window.onload = function () {
                var emergencyHitWords = [];
                var emergencyHitWordsCounts = [];
                //use local storage to get all emergency hit words from the database
                var objMap = { "JSObject": localStorage.emergencyMessages }; //create the desired Json object format 
                var obj = (objMap.JSObject);
                var myData = JSON.parse(obj); //parse the object so that you can access each element

                $(document).ready(function () {
                    function getUnique() {
                        for (var i = 0; i < myData.length; i++) {
                            if (emergencyHitWords.indexOf(myData[i].content) === -1) {
                                emergencyHitWords.push(myData[i].content);
                                //$('UO').append('<li><span class="azip">' + myData[i].content + '</span></li>');
                                // $('UO').append('<li><span class="azip">' + myData[i].content + '</span> matches <span style= "background-color: red">'+val2.content+'</span> </li>');

                            }
                        }
                        getCounts();
                    };


                    function getCounts() {
                        var stopWords = ['fire', 'bomb', 'shooting'];
                        //  $.each(emergencyHitWords, function (i, val) {
                        //   var ThisCt = 0; // RESET THE COUNT
                        //  $.each(myData, function (i2, val2) {
                        //   if (emergencyHitWords[i] === val2.content) {
                        //        ThisCt++ // ADD ONE 
                        //       $('UO').append('<li><span class="azip">' + emergencyHitWords[i] + '</span> matches <span style= "background-color: red">'+val2.content+'</span> </li>');
                        //   };
                        // });
                        // $('UL li').eq(i).append(': ' + ThisCt + ' occurrences');
                        //emergencyHitWordsCounts.push(ThisCt); 
                        // });   
                        for (var j = 0; j < emergencyHitWords.length; j++) {
                            for (i = 0; i < stopWords.length; i++) {
                                if (data[j] == stopWords[i]) {
                                    ("Found stopwords:" + stopWords[i]);
                                    //  newKeyWord = newKeyWord.replace(stopWords[i], '');
                                    alert("Found stopwords after:" + newKeyWord);
                                }
                            }
                        }

                        //  getUnique();
                    };
                });
            }

        </script>